[submodule "emacs_stuff/chemacs2"]
	path = emacs_stuff/chemacs2
	url = https://github.com/plexus/chemacs2.git
[submodule "emacs_stuff/doom-emacs"]
	path = emacs_stuff/doom-emacs
	url = https://github.com/hlissner/doom-emacs.git
[submodule "emacs_stuff/spacemacs"]
	path = emacs_stuff/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
